@model OugAssistant_WEB.Models.Planning.PlanningViewModel

<div class="modal fade" id="goalModal" tabindex="-1" aria-labelledby="goalModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-fullscreen modal-dialog-scrollable p-3">
		<div class="modal-content rounded-1 h-100">

			<!-- Encabezado del modal -->
			<div class="modal-header">
				<h5 class="modal-title" id="goalModalLabel">Goal</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>

			<!-- Cuerpo del modal -->
			<div class="modal-body d-flex flex-column h-100">

				<div class="row h-100">
					<div class="col h-100 d-flex flex-column">
						<!--Name-->
						<div class="form-floating mb-3">
							<input type="text" class="form-control" id="inputGoalName" placeholder="Name">
							<label for="inputGoalName">Goal Name</label>
						</div>
						<!--Description-->
						<div class="flex-grow-1">
							<div class="form-floating mb-3 h-100">
								<textarea type="text" class="form-control h-100" id="inputGoalDescription" placeholder="Description"></textarea>
								<label for="inputGoalDescription">Goal Description</label>
							</div>
						</div>

					</div>
					<div class="col h-100">
						<div class="d-flex flex-column h-100">
							<!--ParentGoal-->
							<div class="flex-shrink-1 h-10">
								<div class="form-floating mb-3 h-100">

									<select id="inputParentGoal" class="form-select" aria-label="Parent goal" disabled>
										<option selected value="">-</option>
									</select>
									<label for="inputParentGoal">Parent goal</label>
								</div>
							</div>

							<!--ChildGoal-->
							<div id="ChildGoalListWrapper" class="flex-grow-1 overflow-hidden h-25 my-1">
								@* <oug-list id="ouglist-ChildGoalList" title="ChildGoalList">
								</oug-list> *@
							</div>


							<!--GoalTasks-->
							<div id="GoalTasksListWrapper" class="flex-grow-1 overflow-hidden h-25 my-1">
								@* <oug-list id="ouglist-GoalTasksList" title="GoalTasksList">
								</oug-list> *@
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Pie del modal -->
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
				<button id="btnSaveGoal" type="button" class="btn btn-primary">Guardar Cambios</button>
			</div>
		</div>
	</div>
</div>
